<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Sobre Nós')}"></head>


<body>
	
    <!-- - header - -->
    <header th:replace="~{fragments/header :: navbar}" ></header> 
	<!-- End #header -->

	<div th:replace="~{fragments/header :: space}"></div>
	
    <!-- - main - -->
	  <main class="container main">
	    <!--Começo section sobre-->
	    <section id="sobre" class="sobre">
	      <div class="container" data-aos="fade-up" data-aos-delay="100">
	        <div class="row align-items-xl-center gy-5">
	
	          <div class="col-xl-5 conteudo">
	            <h3>Sobre nós</h3>
	            <h2>Somos o Squad 25</h2>
	            <p>Somos 5 integrantes, e juntos criamos este projeto, que busca aumentar a participação e
	              competitividade dos empresários de baixa renda na internet.</p>
	            <a href="#" class="leia-mais"><span>Leia Mais</span> </a>
	          </div>
	
	          <div class="col-xl-7">
	            <div class="row gy-4 icon-boxes mb-3 ">
	
	              <div class="col-md-6 boxIcon" data-aos="fade-up" data-aos-delay="200">
	                <div class="icon-box">
	                  <i class="fa-solid fa-barcode"></i>
	                  <h3>Propaganda</h3>
	                  <p>Coloque seus produtos em nosso sitema e mostraremos ao seu cliente.</p>
	                </div>
	              </div>
	              <!-- Fim Icon Box -->
	
	              <div class="col-md-6 boxIcon" data-aos="fade-up" data-aos-delay="300">
	                <div class="icon-box">
	                  <i class="fa-solid fa-trophy"></i>
	                  <h3>Competitividade</h3>
	                  <p>Aumente a disputa de vendas entre seus colegas de profissão.</p>
	                </div>
	              </div>
	              <!-- Fim Icon Box -->
	
	              <div class="col-md-6 boxIcon" data-aos="fade-up" data-aos-delay="400">
	                <div class="icon-box">
	                  <i class="fa-solid fa-magnifying-glass"></i>
	                  <h3>Mapeamento</h3>
	                  <p>Mapeamos a rota de seu estabelecimento para que seu cliente lhe encontre com mais facilidade.</p>
	                </div>
	              </div>
	              <!-- Fim Icon Box -->
	
	              <div class="col-md-6 boxIcon" data-aos="fade-up" data-aos-delay="500">
	                <div class="icon-box">
	                  <i class="fa-solid fa-magnet"></i>
	                  <h3>Aumento de Vendas</h3>
	                  <p>Com o nosso site, você pode obter um aumento significativo de suas vendas.</p>
	                </div>
	              </div>
	              <!-- Fim Icon Box -->
	
	            </div>
	          </div>
	
	        </div>
	      </div>
	
	    </section>
	    <!-- Fim Section sobre -->
	
	    <!--Inicio Section Imagens-->
	    <section>
	      <div class="container" data-aos="fade-up">
	        <div class="row">
	          <div class="col-lg-12 text-center mb-5">
	            <h1 class="page-title mt-5">Sobre o Compra Fácil</h1>
	          </div>
	        </div>
	
	        <div class="row mb-5">
	          <div class="d-md-flex card-entrada-2 half">
	            <a href="" class="me-4 capa">
	              <img src="../imgs/loja.jpg" alt="" class="img-fluid">
	            </a>
	            <div class="ps-md-5 mt-4 mt-md-0">
	              <div class="card-meta mt-4">Compra Fácil</div>
	              <h2 class="mb-4 display-4">Nosso Objetivo</h2>
	              <p>A solução busca atingir, em primeira instância, micro e pequenos empreendedores de
	                baixa renda, proprietários de negócios físicos dispostos em pequenos centros
	                comerciais (feiras livres, barracões de comércio e aglomerados de lojas), interessados
	                em impulsionar a divulgação de seus produtos. Visa também alcançar potenciais
	                clientes consumidores com dificuldades para distinguir, dentro do comércio local,
	                produtos que atendam especificamente às suas demandas e a maneira mais eficaz
	                de adquiri-los.</p>
	
	            </div>
	          </div>
	
	          <div class="d-md-flex card-entrada-2 half mt-5">
	            <a href="#" class="me-4 capa order-2">
	              <img src="../imgs/estudante.jpg" alt="" class="img-fluid">
	            </a>
	            <div class="pe-md-5 mt-4 mt-md-0">
	              <div class="card-meta mt-4">Aonde Vamos?</div>
	              <h2 class="mb-4 display-4">Resultados Esperados</h2>
	              <p>Esperamos que o compra facil consiga ajudar empresários de baixa renda a compartilhar seus produtos e
	                respectivos preços em um ambiente online, facilitando assim, sua comunicação com o cliente, logo,
	                aumentanto suas possibilidades de vendas e propraganda de suas vendas.</p>
	              <p>Quanto a clientela, a facilidade de pesquisa, comparação de preços e mapeamento do local é o
	                diferencial da
	                nossa aplicação, já que, o Compra Fácil busca facilitar e melhorar a experiência de compra do cliente,
	                que muitas vezes, desiste de comprar de microempresários locais por falta de informação
	              </p>
	            </div>
	          </div>
	        </div>
	
	      </div>
	    </section>
	    <!--Fim Section Imagens-->
	
	  </main> <!-- End .container -->
    
    <!-- - footer - -->
    <footer th:replace="~{fragments/footer :: footer}"></footer> 
    <!-- - End #footer - -->


    <!-- JS scripts -->    
    <script th:replace="~{fragments/scripts :: popper}">
    </script>
    <script th:replace="~{fragments/scripts :: bootstrap}">
    </script>    
    <script th:replace="~{fragments/scripts :: fontawesome}">
    </script>
    
    
</body>

</html>