<footer th:fragment="footer" class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="footer-top">
                <div class="row justify-content-between pt-3">
                    <div class="col-6">
                        <p class="fs-5 fw-semibold">Comércio Fácil</p>
                    </div>

                    <div class="col-6 text-end" id="social-networks">
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram me-3 fs-4"></i></a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook me-3 fs-4"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin me-3 fs-4"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter me-3 fs-4"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" id="footer-bottom">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-3">
                        <p class="fw-light">Recode Pro 2023</p>
                    </div>

                    <div class="col-12 col-md-4">
                        <p class="fw-light text-end autor">Desenvolvido pelo <span class="fw-semibold">Squad 25</span>
                            &copy; 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>