<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head :: head('Comércio Fácil')}"></head>

<body>

    <!-- - header - -->
    <header th:replace="~{fragments/header :: navbar}" ></header> 
	<!-- End #header -->
	
	<aside th:replace="~{fragments/aside :: aside}"></aside>
	
	
	
    <!-- - main - -->
    <main class="container-fluid">
	
    </main> <!-- End .container-fluid -->


    <!-- JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
</body>

</html>